#outer {
	width: 1500px;
	margin: auto;
}

#lay1 {
	width: 1300px;
	height: 40px;
	padding-left: 100px;
	padding-right: 100px;
	background-color: #333333;
	float: left;
}

#lay1 .a{
	margin-top: 10px;
	color: #CCCCCC;
	float: left;
}

#lay1 .b{
	margin-top: 10px;
	margin-right: 5px;
	color: #CCCCCC;
	float: right;
}

#lay1 .c{
	margin-left: 20px;
	padding: 10px;
	background-color: #f00;
	color: #ffffff;
	float: right;
}

#lay2 {
	width: 1300px;
	padding-left: 100px;
	padding-right: 100px;
	background-color: #FFFFFF;
	float: left;
}

#lay2 .x{
	width: 1300px;
	height: 100px;
	margin-bottom: 25px;
	float: left;
}

#lay2 .a img{
	margin-top: 30px;
	float: left;
}

#lay2 .b img{
	height: 40px;
	margin-top: 35px;
	float: right;
}

#lay2 .b input{
	width: 300px;
	height: 25px;
	margin-right: 5px;
	margin-top: 40px;
	float: right;
}

#lay2 .c{
	width: 1300px;
	height: 360px;
	margin-top: 15px;
	margin-left: 240;
	float: left;
	border: 1px solid #f00;
}

#lay2 .c .a{
	width: 1300px;
	height: 50px;
	background-color: #F5F5F5;
	float: left;
	border-bottom: 1px solid #333333;
}

#lay2 .c .a .b{
	width: 150px;
	margin-top: 10px;
	margin-left: 20px;
	font-size: 20px;
	float: left;
}

#lay2 .c .a a{
	width: 150px;
	margin-top: 10px;
	font-size: 20px;
	float: right;
}

#lay2 .e{
	margin-top: 10px;
	margin-left: 20px;
	float: left;
}

#lay2 .l{
	width: 1260px;
	height: 60px;
	background-color: #F5F5F5;
	float: left;
	border: 1px solid #333333;
}

#lay2 .l .x{
	width: 100px;
	height: 40px;
	padding-top: 20px;
	padding-left: 50px;
	text-align: align;
	float: left;
	border-right: 1px solid #333333;
}

#lay2 .l input{
	width: 950px;
	height: 50px;
	margin-left: 70px;
	margin-top: 2px;
	float: left;
}

#lay2 .z input{
	width: 150px;
	height: 40px;
	margin-top: 10px;
	margin: 30px;
	background-color: #F0AD4E;
	font-size: 20px;
	float: right;
	border: 1px solid #f00;
}

#lay3 {
	padding-top: 65px;
	width: 1500px;
	height: 130px;
	margin-top: 30px;
	font-size: 15px;
	text-align: center;
	background-color: #FAFAFA;
	float: left;
}

#lay3 .a{
	margin-bottom: 10px;
	color: #333333;
}

#lay3 .b{
	color: #333333;
}